__pycache__
*.pyc
*.pyo
*.pyd
*.log
data/*
weights/*
datasets
outputs
uploads
runs
wandb
.idea
.vscode
.git
.gitignore
.dockerignore
Dockerfile
README.md

!weights/yolov5m_best.pt
!weights/efficientnet_b7_best.pth
