data/*
weights/*
datasets
outputs
checkpoints
runs
wandb
__pycache__
.idea
.vscode
.cache
.ipynb_checkpoints
*.pth
*.pyc
*.pyo
*.pyd
*.log

# web app
uploads/*
.env

# files to be pushed to GitHub
!data/wb_recognition_dataset.zip
!weights/yolov5m_best.pt
